body {
  -webkit-animation: body 0.0s linear infinite;
  animation: body 0.1s linear infinite;
}
@-webkit-keyframes body {
  100% { background-color: red; }
}
@keyframes body {
  100% { background-color: blue; }
  50% { background-color: red; }
}
#imgclass {
	position: fixed;
	background-image: url(1.gif);
	position: fixed;
	width: 25%;
	height: 35%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-repeat: no-repeat;
    background-attachment:absolute;
    top:32%;
    margin-left:35%;
}
#pgs{
	text-align: center;
	position: fixed;
	position: fixed;
	width: 31%;
	height: 15%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-repeat: no-repeat;
    background-attachment:absolute;
    top:16%;
    margin-left:32%;
}